/***************************************************/
/********************** GLOBAL *********************/
/***************************************************/

/********************** Resets *********************/

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.8)
  ),
  url(./assets/images/home-banner.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;

}

.app {
  text-align: center;
}

.body {
  padding: 25px;
}

/***************** Headers & Fonts *****************/

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 600;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 400;
}

h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

p, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}


/****************** Accent Colors ******************/

.azureish {
  color: #e1eaed;
}

.keppel {
  color: #3dbb9f;
}

.sea {
  color: #28afb0;
}

.ming {
  color: #3b6877;
}

.gunmetal {
  color: #0F1626;
}


/****************** Alert Messages *****************/

.success-alert {
  color: green;
  font-weight: bolder;
}

.error-alert {
  color: red;
  font-weight: bolder;
}


/****************** Pseudo Classes *****************/

.clicked {
  cursor: pointer;
}

.clicked:active {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
       box-shadow: inset 0px 0px 5px #c1c1c1;
}

.smooth {
  transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  -webkit-transition: ease-in-out .3s;
}

.smooth:hover {
  transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  -webkit-transition: ease-in-out .3s;
}

.box-shadow {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}

.text-shadow {
  text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}

.cta {
  background-color: white;
  color: #0F1626 !important;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 5px;
}

.cta:hover {
  background-color: unset;
  color: white !important;
}

/***************************************************/
/******************** NAVIGATION *******************/
/***************************************************/


/********************** Header *********************/

.page-header {
  display: inline-block;
  height: 90px;
  width: 100vw;
  padding: 20px 20px;
}

.header-logo {
  float: left;
  text-align: left;
}

.header-logo img {
  max-height: 50px;
  margin: 0;
}

.header-nav {
  float: right;
  text-align: right;
  width: 60%;
  margin: 8px auto;
}

.header-nav a {
  color: white;
  margin-left: 15px;
  padding: 12px 15px;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-nav a:hover{
  color: #3dbb9f;
}

.ui.selection.dropdown {
  margin-left: 20px;
  background-color: unset;
  border: none;
  color: white !important;
  padding: 12px 15px;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ui.selection.active.dropdown .menu {
  border-radius: 0;
}

.ui.dropdown .menu>.item {
  padding: 12px 15px;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ui.search.dropdown.active>input.search, .ui.search.dropdown.visible>input.search {
  color: white;
  text-transform: uppercase;
}

/********************** Footer *********************/

.footer {
  color: white;
  padding-bottom: 40px;
}

.footer-nav {
  margin: 10px auto;
}

.footer-nav a {
  color: white;
  padding: 8px 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-nav a:hover{
  color: #3dbb9f;
}

.footer-socials {
  margin: 15px auto;
}

.footer-info {
  margin: 15px auto;
}

.footer-copyright {
  margin: 15px auto;
}


/***************************************************/
/********************** PAGES **********************/
/***************************************************/

/*********************** Hero **********************/

.hero {
  min-height: 20vh;
  color: white;
  max-width: 1020px;
  margin: 10px auto;
}

.landing-hero {
  max-width: 800px;
}

/******************* Page Content ******************/

.page {
  background-color: #e1eaed;
  max-width: 1280px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 10px;
}

.landing-page {
  max-width: 800px;
}

/******************* Index Cards *******************/

.listings-cards, .sponsors-cards {
  display: inline-flex;
  flex-wrap: wrap;
}

.ui.card>.image, .ui.cards>.card>.image {
  background: 
  linear-gradient(
    rgba(21, 37, 43, .9), 
    rgba(21, 37, 43, 1)
  ),
  url(./assets/images/home-banner.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.listings-cards .ui.cards, .sponsors-cards .ui.cards {
  margin: unset;
  text-align: left;
}

.ui.img.overlay img {
  max-width: 50px !important;
}

/***************************************************/
/******************* COMPONENTS ********************/
/***************************************************/






/***************************************************/
/******************** Responsive *******************/
/***************************************************/